{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>My name is James Changtroraleke. I graduated from University at Buffalo. I am a self-taught Python developer, with an eagerness to learn.</p>
        <p>Currently, I am the manager at a Thai restaurant and have been using Python to interpret day to day data. I have been creating web applications that collect and display data in a comprehensive format.</p>
        <p>I also code as a hobby, creating mini-games and convenient widgets, that help with small task, such as reminders and web-scrapers.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}